# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Build logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Node modules (if using any)
node_modules/

# OS files
.DS_Store
Thumbs.db