---
layout: default
title: Archive
---

<h1>All Posts</h1>

<div class="sort-controls">
    <label for="sort-select">Sort by:</label>
    <select id="sort-select">
        <option value="newest">Newest First</option>
        <option value="oldest">Oldest First</option>
        <option value="views-high">Most Views</option>
        <option value="views-low">Least Views</option>
    </select>
</div>

<ul class="post-list" id="posts-list">
    {% for post in site.posts %}
        {% include post-list-item.html post=post excerpt_limit=30 %}
    {% endfor %}
</ul>

<script>
// Make view data available to main.js
window.viewData = {{ site.data.views | jsonify }};
</script>